.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    ". headline headline ."
    ". tabs tabs ."
    ". content category ."
    ". content category .";
}

.App h1 {
  grid-area: headline;
}

.MediaCategory {
  grid-area: category;
  justify-self: stretch;
}

.MediaWrap {
  grid-area: content;
  justify-self: stretch;
  border: red solid 5px;
}

.DisplayTabs {
  grid-area: tabs;
  justify-self: center;
  display: flex;
  flex-direction: row;
}

.DisplayTabs p {
  margin-right: 20px;
  background-color: #335D8F;
  color: whitesmoke;
  font-size: 25px;
  padding: 15px;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, .16);
}

.picture {
  width: 50%;
  height: auto;
  object-fit: cover;
}

@media only screen and (max-width: 800px) {
   {
    /*for moblie and smaller browser windows*/
  }
  .App {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      ". headline ."
      ". category ."
      ". tabs ."
      ". content .";
  }
}

 {
  /*Viewport is used in index.html*/
}
