.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    ". headline headline ."
    ". tabs tabs ."
    ". content category ."
    ". content category .";
  background-color: gray;
}

.App h1{
  grid-area: headline;
}

.MediaCategory{
  grid-area: category;
  justify-self: stretch;
  background-color: blue;
}

.MediaWrap{
  grid-area: content;
  justify-self: stretch;
  background-color: green;
}

.MediaSelect{
  grid-area: tabs;
  justify-self: stretch;
  background-color: gold;
}

@media only screen and (max-width: 600px){
  body{
    background-color: green;
  }
}